.footer {
  width: 100%;
  padding: 18px 20px;
  background: linear-gradient(90deg, #006eff, #004fbd);
  color: white;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  box-shadow: 0 -4px 15px rgba(0, 91, 187, 0.35);

  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer .icon {
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.footer .icon:hover {
  transform: scale(1.15);
  color: #dfeeff;
}
