.navbar {
  width: 100%;
  background: var(--accent-primary);
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 4px 12px var(--shadow);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.nav-links a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #dfeeff;
}

.logout {
  padding: 8px 16px;
  border: none;
  background: var(--accent-secondary);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
}

.logout:hover {
  background: #003d94;
}

.dark-toggle {
  padding: 8px 16px;
  border: none;
  background: var(--accent-secondary);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.dark-toggle:hover {
  background: #003d94;
}
